@page "/weather"
@* @inject HttpClient Http *@
@inherits MvvmComponentBase<QuestionCardViewModel>

<PageTitle>밸런스게임</PageTitle>

<h1>랜덤을 누른 후 멈춘 질문에 성실히 답하시오.</h1>

<FluentLabel Typo="Typography.Subject">사망토론</FluentLabel>
<FluentGrid Justify="JustifyContent.FlexStart">
    <FluentGridItem xs="12" sm="12">
        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="10"
                     Style="margin: 0px 0px; padding: 10px; border: 1px solid var(--accent-fill-rest);">
            <FluentButton @onclick="() => ViewModel.HorizontalScroll.ScrollToPrevious()">앞</FluentButton>
            <FluentButton @onclick="() => ViewModel.HorizontalScroll.ScrollToNext()">뒤</FluentButton>
            <FluentButton @onclick="() => ViewModel.HorizontalScroll.ScrollInView(Random.Shared.Next(ViewModel.BalanceQuestions!.Count))">랜덤</FluentButton>
        </FluentStack>
    </FluentGridItem>

    <FluentGridItem xs="12" sm="3">
        <FluentHorizontalScroll @ref="ViewModel.HorizontalScroll" Speed="3600" Easing=ScrollEasing.EaseInOut>
            @foreach (string question in ViewModel.BalanceQuestions!)
            {
                <FluentCard Height="auto" Width="350px" AreaRestricted="false">
                    <FluentLabel Typo="Typography.HeroTitle"> @question </FluentLabel>
                </FluentCard>
            }
        </FluentHorizontalScroll>
    </FluentGridItem>
</FluentGrid>
