@inherits MvvmComponentBase<MainViewModel>

<FluentDesignTheme @bind-Mode="@ViewModel.Mode" @bind-OfficeColor="@ViewModel.OfficeColor" StorageName="theme" />

<FluentLayout>
    <FluentHeader>
        FluentWebAssembly
        <FluentSpacer />
        <FluentButton IconEnd="@(ViewModel.Mode == DesignThemeModes.Light ? new Icons.Regular.Size16.BrightnessHigh() : new Icons.Regular.Size16.WeatherMoon())"
                      Title="ToggleTheme" @onclick="(o) => ViewModel.ToggleThemeCommand.Execute(o)" Appearance="Appearance.Accent">
            ThemeMode
        </FluentButton>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        <FluentSpacer />
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
    </FluentFooter>
</FluentLayout>
